---
import { Image } from "@astrojs/image/components";
import { useStoryblokApi } from "@storyblok/astro";
import classNames from "classnames";
import { marked } from "marked";
import PostGrid from "../components/posts/PostGrid.astro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();

  const { data } = await storyblokApi.get("cdn/stories", {
    starts_with: "blog-posts/",
    version: import.meta.env.DEV ? "draft" : "published",
  });
  const stories = data.stories;

  return stories.map((story: any) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const { slug } = Astro.params;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/blog-posts/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;

const { data: storiesData } = await storyblokApi.get("cdn/stories", {
  starts_with: "blog-posts/",
  version: import.meta.env.DEV ? "draft" : "published",
  with_tag: story.tag_list,
  per_page: 3,
});

const stories = storiesData.stories;
const content = marked(story.content.content);
---

<Layout title={story.content.title}>
  <article>
    <header
      class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-24 mb-32 md:mb-64 mt-24"
    >
      <div class="w-full md:w-auto md:justify-self-end">
        <Image
          src={story.content.heroImage.filename}
          alt={story.content.heroImage.alt}
          aspectRatio={1 / 1.2}
          width={600}
          class="rounded-3xl"
        />
      </div>
      <div
        class="py-16 flex flex-col gap-y-4 md:col-start-1 md-col-end-2 md:row-start-1 md:row-end-2"
      >
        <div class="flex gap-6">
          {
            story.tag_list.map((tag: string) => (
              <p class={classNames("uppercase text-primary font-bold")}>
                {tag}
              </p>
            ))
          }
        </div>
        <h1>{story.content.title}</h1>
        <p class="text-lg leading-loose">{story.content.description}</p>
      </div>
    </header>
    <section set:html={content} class="post-section"></section>
    <div class="mt-48 border-t border-text pt-32">
      <h2 class="pb-6">More posts</h2>
      <PostGrid cellSize="md" posts={stories} />
    </div>
  </article>
</Layout>
